* {

    /* box-sizing: border-box; */

}


.header-left {
    background-color: rgb(252, 252, 252);
    display: inline;
}

#logo {
    display: inline;
    
}
#option-gpt{
    display: inline-block;
    margin-left: 15px;
    margin-top: -5px;
    text-decoration: none;
    color: black;
    


}

header a {
    text-align: center;
    display: inline;
    /* margin-top: 4px;
    margin-left: 20px; */
}

#down-arrow {
    margin-top: 5px;
    display: inline;
    height: 15px;
}
.header-menu{
    display: inline;
}

.header-menu a {
    display: inline;
    color: gray;
    margin-left: 40px;
}

#about {
    display: inline;
    margin-left: 480px;
}
.header-right{
    display: inline;
}

#log-in {
    background-color: black;
    color: white;
    padding: 5px 15px; 
    text-align: center;
    text-decoration: none;
    display: inline; 
    margin-left: 1500px;
    border-radius: 150px;
}

#sing-up {
    display: inline;
    background-color: white;
    color: black;
    padding: 5px 15px; 
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 150px;
    border-style: solid;

}

#help {
    display: inline;
    background-color: white;
    color: black;
    padding: 5px 15px; 
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 150px;
    border-style: solid;

}

h1 {
    text-align: center;
    margin-top: 250px;
}

.input-box {
    margin-top: 20px;
    margin-left: 550px;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    color: grey;
    padding: 40px 70px; 
    text-align: start;
    /* text-decoration: none; */
    border-radius: 50px;
    border-style: solid;
    /* background-position:  */
    
}

.input-box input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius:15px;
    border-color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: start;
    /* background-color: white; */
  /* background-image: url('searchicon.png'); */
    /* background-position: 10px 10px;  */
    /* background-repeat: no-repeat; */
    padding: 12px 20px 12px 40px;
    /* margin-left: 0px; */
}

.input-box a {
    display: inline-block;
    background-color: white;
    color: gray;
    padding: 5px 15px; 
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 150px;
    border-style: solid;
    border-width: 1px;
   
}

#voice-button {
    display: inline;
    float: right;
}



/* Position */
/* Z-index */